body{
    background-image: url(./././assets/images/45degreee_fabric_@2X.png);
    margin: 10px 500px 0px 500px;
    padding: 10px 10px 10px 10px;
}


#header{
    background-color: #f1f1f1;
    width: 100%;
    margin
    text-align: center;
    line-height: 10px;
    font-size: 20px;
    display: flex;

}

#name{
    font-size: 30px;
    background-color: lightgrey;
    width: 180px;
    padding: 50px;
    margin: 20px 20px 0px 288px;


}

.links{
margin-right: 40px;
position: relative;

}

img{
    width: 60px;
    height: auto
}


#main{
    margin: 0px;
    }

#about-me{
    background:white;
    position: fixed;
    top: 450px;   
    left: 50%;
    margin-top: -300px;
    margin-left: -480px;;
    width: 960px;
    height: 480px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30;
}

#text-header{
    font-size: ;
}